[submodule "steam-condenser"]
	path = steam-condenser
	url = git://github.com/koraktor/steam-condenser-php.git
[submodule "lib/twitter"]
	path = lib/twitter
	url = git://github.com/tijsverkoyen/TwitterOAuth.git
[submodule "lib/steam-condenser"]
	path = lib/steam-condenser
	url = git://github.com/koraktor/steam-condenser-php.git
[submodule "lib/growl"]
	path = lib/growl
	url = git://github.com/tylerhall/php-growl.git
