<?
	// default table for location of ssms
	$host = "changeme";
	$user = "changeme";
	$pass = "changeme";
	$table = "changeme";
	
	// hlstats database (optional)
	$host_hlstats = "changeme";
	$user_hlstats = "changeme";
	$pass_hlstats = "changeme";
	$table_hlstats = "changeme";
	
?>
